In [1]:
analyst = 'Anatoly'
# print(analyst)
years = 2
has_job = False

In [2]:
analyst_2 = 'Olga'
years_2 = 3
has_job_2 = True

In [15]:
analysts = ['Anatoly', 'Olga', 'Beslan']
years = [2,3,4]

In [17]:
analysts.append('Michael')
analysts

['Anatoly', 'Olga', 'Beslan', 'Michael']

In [18]:
analysts.pop(3)

'Michael'

In [31]:
job_years = 2
salary = 100000
message = 'Bonus is equal to {}'

In [32]:
if job_years <1:
    coefficient = 0
elif job_years >= 1 and job_years <=2:
    coefficient = 0.2
else: 
    coefficient = 0.4
new_salary = salary + salary * coefficient

print(message.format(coefficient))
print(new_salary)

Bonus is equal to 0.2
120000.0

In [33]:
job_years = 2
salary = 100000
message = 'Bonus is equal to {coef}. New salary is {new_salary}'

In [35]:
if job_years <1:
    coefficient = 0
elif job_years >= 1 and job_years <=2:
    coefficient = 0.2
else: 
    coefficient = 0.4
new_salary = salary + salary * coefficient

print(message.format(coef = coefficient, new_salary = new_salary))

Bonus is equal to 0.2. New salary is 120000.0

# Задания первого урока (1.4)

Начнём с простого - сохраните в переменную age произвольный возраст, выраженный целым числом, а в переменную name какое-нибудь имя в виде строки

In [60]:
age = 23
name = 'Ilya'

Создайте список user_info, содержащий 2 строки (имя и фамилия пользователя), 1 дробное число (зарплата) и 1 целое число (стаж)

In [61]:
user_info = ['Ilya', 'Tsukanov', 55.500, 2]

Поместите в переменную first первый (то есть нулевой) элемент из списка salaries

In [62]:
# salaries is already defined
# Write your code here!)
first = salaries[0]

NameError: name 'salaries' is not defined

Добавьте в список users элементы 'Voronov' и 42

In [ ]:
# users already defined
# Write your code here!)
users.append('Voronov')
users.append(42)

В переменной user_ages содержится список возрастов клиентов. Напишите петлю, выводящую на печать возраста, которые больше 18

Пример данных, которые могут быть в user_ages

user_ages = [10, 18, 21, 35, 42, 27, 12, 16]
Note: в этом задании нужно печатать эти числа

In [ ]:
# user_ages already defined
# Write your code here!)
for user_age in user_ages:
    if user_age > 18:
        print(user_age)

Напишите программу, проверяющую стаж работы сотрудника. В переменной worker содержится список, содержащий значения как во 2-ом задании (имя, фамилия, зарплата, стаж). Поместите в переменную status такую строку

user_name user_family is position

где user_name и user_family - имя и фамилия сотрудника, а position - одна из следующих строк

'junior' - стаж меньше 2 лет
'middle' - стаж больше либо равен 2 лет
'senior' - стаж больше 5 лет 
Пример данных, которые могут быть в worker

worker = ['Olya', 'Silyutina', 350000, 3]
Hint: печатать результат не нужно, просто задайте его в переменную status

In [ ]:
# worker is already defined
# Write your code here!)
status = '{} {} is {}'
exp = worker[-1]
if exp <2:
     position = 'junior'
elif 2 <= exp <= 5:
    position = 'middle'
else:
    position = 'senior'
status = status.format(worker[0], worker[1], position)

В списке values содержатся числовые значения. Создайте список tens и добавьте в него все числа из values, которые делятся на 10 нацело

Пример данных, которые могут быть в values

values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

In [ ]:
tens = []
for value in values:
    if (value % 10) == 0:
        tens.append(value)

⭐️Задание со звёздочкой!⭐️

Реализуйте цикл, который пробегается по списку workers со значениями как в 2-ом и 6-ом заданиях, и выводит для каждого сотрудника строку (то есть печатает её для каждого элемента списка)

user_name user_family is position

где user_name и user_family - имя и фамилия сотрудника, а position - одна из следующих строк

'junior' - стаж меньше 2 лет
'middle' - стаж больше либо равен 2 лет
'senior' - стаж больше 5 лет 
Пример данных, которые могут быть в workers

workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]
Note: в этом задании нужно печатать эти строки

In [ ]:
for worker in workers:
    status = '{} {} is {}'
    exp = worker[-1]
    if exp <2:
        position = 'junior'
    elif 2 <= exp <= 5:
        position = 'middle'
    else:
        position = 'senior'
    status = status.format(worker[0], worker[1], position)
    print(status)

⭐️Задание со звёздочкой!⭐️
Поместите в список lst числа от 0 (n = 0) до 10 (N = 10) c шагом 2 (dn = 2). Для этого используйте условие while

Note: переменные n, N, dn создавать не нужно

Note: включая 10

In [76]:
lst = []
n = 0
N = 10
dn = 2
while n <= N:
    lst.append(n)
    n += dn
lst

[0, 2, 4, 6, 8, 10]