–ò–º–ø–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –±–∏–±–ª–∏–æ—Ç–µ–∫—É pandas –∫–∞–∫ pd. –ü—Ä–æ—á–∏—Ç–∞–π—Ç–µ –¥–∞—Ç–∞—Å–µ—Ç bookings.csv , –Ω–∞—Ö–æ–¥—è—â–∏–π—Å—è –ø–æ —Å—Å—ã–ª–∫–µ, —Å —Ä–∞–∑–¥–µ–ª–∏—Ç–µ–ª–µ–º ;  –∏ —Å–æ—Ö—Ä–∞–Ω–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é bookings. –ó–∞—Ç–µ–º –∑–∞–ø–∏—à–∏—Ç–µ –ø–µ—Ä–≤—ã–µ 7 —Å—Ç—Ä–æ–∫ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é bookings_head.

In [15]:
import pandas as pd

In [16]:
bookings = pd.read_csv('https://stepik.org/media/attachments/lesson/360344/bookings.csv', sep = ';')

In [17]:
bookings.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

üíÄ –°–ª–æ–∂–Ω–æ–µ –∑–∞–¥–∞–Ω–∏–µ! üíÄ

–ö–∞–∫ –≤—ã —É–∂–µ –º–æ–≥–ª–∏ –∑–∞–º–µ—Ç–∏—Ç—å, –ø—Ä–∏ —Å–±–æ—Ä–µ –¥–∞—Ç–∞—Å–µ—Ç–∞ –ø—Ä–æ–∏–∑–æ—à–ª–∞ –Ω–µ–±–æ–ª—å—à–∞—è –æ—à–∏–±–∫–∞, –∏ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ –±—ã–ª–∏ –∑–∞–ø–∏—Å–∞–Ω—ã –≤ –Ω–µ—É–¥–æ–±–Ω–æ–º –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–π —Ä–∞–±–æ—Ç—ã —Ñ–æ—Ä–º–∞—Ç–µ. –ò—Å–ø—Ä–∞–≤—å—Ç–µ —Å–∏—Ç—É–∞—Ü–∏—é, –ø—Ä–∏–≤–µ–¥—è –Ω–∞–∑–≤–∞–Ω–∏—è —Å—Ç–æ–ª–±—Ü–æ–≤ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É –∏ –∑–∞–º–µ–Ω–∏–≤ –ø—Ä–æ–±–µ–ª—ã –Ω–∞ –∑–Ω–∞–∫ –Ω–∏–∂–Ω–µ–≥–æ –ø–æ–¥—á–µ—Ä–∫–∏–≤–∞–Ω–∏—è. –ù–∞–ø—Ä–∏–º–µ—Ä: Is Canceled -> is_canceled

In [18]:
# –≤–∞—Ä–∏–∞–Ω—Ç
def underscore_rename(name):
    return name.replace(' ','_')
bookings = bookings.rename(columns=underscore_rename)
bookings.columns = bookings.columns.str.strip().str.lower()

In [30]:
# –µ—â–µ –≤–∞—Ä–∏–∞–Ω—Ç
def to_lower_underscore(name):
    name = name.lower().replace(' ', '_')
    return name
bookings = bookings.rename(columns=to_lower_underscore)

–ü–æ—Å–º–æ—Ç—Ä–∏—Ç–µ –Ω–∞ —Ä–∞–∑–º–µ—Ä—ã —Ç–∞–±–ª–∏—Ü—ã. –°–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ –≤ –Ω–µ–π —Å—Ç–æ–ª–±—Ü–æ–≤?

In [31]:
bookings.shape

(119390, 21)

–ö –∫–∞–∫–æ–º—É —Ç–∏–ø—É –æ—Ç–Ω–æ—Å–∏—Ç—Å—è –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–æ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö?

In [32]:
bookings.dtypes.value_counts()

object     10
int64      10
float64     1
dtype: int64

In [39]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

üíÄ –°–ª–æ–∂–Ω–æ–µ –∑–∞–¥–∞–Ω–∏–µ! üíÄ

–ü–µ—Ä–µ–π–¥–µ–º –∫ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—é –¥–∞–Ω–Ω—ã—Ö! –ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –∏–∑ –∫–∞–∫–∏—Ö —Å—Ç—Ä–∞–Ω —Å–æ–≤–µ—Ä—à–∏–ª–∏ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ —É—Å–ø–µ—à–Ω—ã—Ö –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–π? 
–ë—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ —Å—á–∏—Ç–∞–µ—Ç—Å—è —É—Å–ø–µ—à–Ω—ã–º, –µ—Å–ª–∏ –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –Ω–µ –±—ã–ª–æ –æ—Ç–º–µ–Ω–µ–Ω–æ (–ø–µ—Ä–µ–º–µ–Ω–Ω–∞—è is_canceled). –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ –≤—ã–±–µ—Ä–∏—Ç–µ —Å—Ç—Ä–∞–Ω—ã, –≤—Ö–æ–¥—è—â–∏–µ –≤ —Ç–æ–ø-5.

In [38]:
bookings.query("is_canceled == 0").country.value_counts().head()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

–ù–∞ —Å–∫–æ–ª—å–∫–æ –Ω–æ—á–µ–π (stays_total_nights)  –≤ —Å—Ä–µ–¥–Ω–µ–º –±—Ä–æ–Ω–∏—Ä—É—é—Ç –æ—Ç–µ–ª–∏ —Ç–∏–ø–∞ City Hotel? Resort Hotel? –ó–∞–ø–∏—à–∏—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ –ø—Ä–æ–ø—É—Å–∫–∏ —Å —Ç–æ—á–Ω–æ—Å—Ç—å—é –¥–æ 2 –∑–Ω–∞–∫–æ–≤ –ø–æ—Å–ª–µ —Ç–æ—á–∫–∏.

In [41]:
bookings.groupby('hotel').agg({'stays_total_nights':'mean'}).round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

–ò–Ω–æ–≥–¥–∞ —Ç–∏–ø –Ω–æ–º–µ—Ä–∞, –ø–æ–ª—É—á–µ–Ω–Ω–æ–≥–æ –∫–ª–∏–µ–Ω—Ç–æ–º (assigned_room_type), –æ—Ç–ª–∏—á–∞–µ—Ç—Å—è –æ—Ç –∏–∑–Ω–∞—á–∞–ª—å–Ω–æ –∑–∞–±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–Ω–æ–≥–æ (reserved_room_type). –¢–∞–∫–æ–µ –º–æ–∂–µ—Ç –ø—Ä–æ–∏–∑–æ–π—Ç–∏, –Ω–∞–ø—Ä–∏–º–µ—Ä, –ø–æ –ø—Ä–∏—á–∏–Ω–µ –æ–≤–µ—Ä–±—É–∫–∏–Ω–≥–∞.

–°–∫–æ–ª—å–∫–æ –ø–æ–¥–æ–±–Ω—ã—Ö –Ω–∞–±–ª—é–¥–µ–Ω–∏–π –≤—Å—Ç—Ä–µ—Ç–∏–ª–æ—Å—å –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ?

In [43]:
bookings.query('assigned_room_type != reserved_room_type').count()

hotel                        14917
is_canceled                  14917
lead_time                    14917
arrival_full_date            14917
arrival_date_year            14917
arrival_date_month           14917
arrival_date_week_number     14917
arrival_date_day_of_month    14917
stays_in_weekend_nights      14917
stays_in_week_nights         14917
stays_total_nights           14917
adults                       14917
children                     14917
babies                       14917
meal                         14917
country                      14699
reserved_room_type           14917
assigned_room_type           14917
customer_type                14917
reservation_status           14917
reservation_status_date      14917
dtype: int64

–¢–µ–ø–µ—Ä—å –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–π—Ç–µ –¥–∞—Ç—ã –∑–∞–ø–ª–∞–Ω–∏—Ä–æ–≤–∞–Ω–Ω–æ–≥–æ –ø—Ä–∏–±—ã—Ç–∏—è (arrival_date_year).

–ù–∞ –∫–∞–∫–æ–π –º–µ—Å—è—Ü —á–∞—â–µ –≤—Å–µ–≥–æ –æ—Ñ–æ—Ä–º–ª—è–ª–∏ –±—Ä–æ–Ω—å –≤ 2016 –≥–æ–¥—É? –ò–∑–º–µ–Ω–∏–ª—Å—è –ª–∏ —Å–∞–º—ã–π –ø–æ–ø—É–ª—è—Ä–Ω—ã–π –º–µ—Å—è—Ü –≤ 2017?

In [48]:
bookings.query('arrival_date_year == 2016').arrival_date_month.value_counts().idxmax() # October
bookings.query('arrival_date_year == 2017').arrival_date_month.value_counts().idxmax() # May

'May'

–°–≥—Ä—É–ø–ø–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –ø–æ –≥–æ–¥–∞–º, –∞ –∑–∞—Ç–µ–º –ø—Ä–æ–≤–µ—Ä—å—Ç–µ, –Ω–∞ –∫–∞–∫–æ–π –º–µ—Å—è—Ü (arrival_date_month) –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏—è –æ—Ç–µ–ª—è —Ç–∏–ø–∞ City Hotel –æ—Ç–º–µ–Ω—è–ª–∏—Å—å —á–∞—â–µ –≤—Å–µ–≥–æ –≤ 2015? 2016? 2017? 

 

Hint: –¥–ª—è —ç—Ç–æ–≥–æ —Å–Ω–∞—á–∞–ª–∞ –ø—Ä–∏–º–µ–Ω–∏—Ç–µ –º–µ—Ç–æ–¥ groupby, –ø–æ—Å–ª–µ —á–µ–≥–æ –≤—ã–±–µ—Ä–∏—Ç–µ –Ω—É–∂–Ω—É—é –∫–æ–ª–æ–Ω–∫—É –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–∏—Ö –¥–µ–π—Å—Ç–≤–∏–π :) –ù–∞–ø—Ä–∏–º–µ—Ä:

df.groupby('column_1')['column_2'].what_to_do()

In [54]:
bookings.query('hotel == "City Hotel"').groupby('arrival_date_year')['arrival_date_month'].value_counts()

arrival_date_year  arrival_date_month
2015               September             3529
                   October               3386
                   August                2480
                   December              1654
                   July                  1398
                   November              1235
2016               October               4219
                   June                  3923
                   September             3871
                   May                   3676
                   April                 3561
                   August                3378
                   July                  3131
                   November              3122
                   March                 3046
                   December              2478
                   February              2371
                   January               1364
2017               May                   4556
                   June                  3971
                   April                 3919
                   July                  3559
                   March                 3412
                   August                3125
                   February              2594
                   January               2372
Name: arrival_date_month, dtype: int64

In [66]:
pd.pivot_table(bookings, values = 'is_canceled', index = 'hotel', columns = ['arrival_date_year','arrival_date_month'], aggfunc = 'count')
# –Ω–µ –ø–æ —É—Ä–æ–∫—É –≤–∞—Ä–∏–∞–Ω—Ç

arrival_date_year    2015                                            2016  \
arrival_date_month August December  July November October September April
hotel
City Hotel           2480     1654  1398     1235    3386      3529  3561
Resort Hotel         1409     1266  1378     1105    1571      1585  1867

arrival_date_year                            ...                    2017  \
arrival_date_month August December February  ... October September April
hotel                                        ...
City Hotel           3378     2478     2371  ...    4219      3871  3919
Resort Hotel         1685     1382     1520  ...    1984      1523  1742

arrival_date_year
arrival_date_month August February January  July  June March   May
hotel
City Hotel           3125     2594    2372  3559  3971  3412  4556
Resort Hotel         1800     1583    1309  1754  1676  1558  1757

[2 rows x 26 columns]

In [67]:
# —á–µ—Ä–µ–∑ groupby
bookings.query('hotel == "City Hotel" and is_canceled == 1') \
    .groupby('arrival_date_year') \
    .arrival_date_month.value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

–ü–æ—Å–º–æ—Ç—Ä–∏—Ç–µ –Ω–∞ —á–∏—Å–ª–æ–≤—ã–µ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏ —Ç—Ä—ë—Ö –∫–æ–ª–æ–Ω–æ–∫: adults, children –∏ babies

–ö–∞–∫–∞—è –∏–∑ –Ω–∏—Ö –∏–º–µ–µ—Ç –Ω–∞–∏–±–æ–ª—å—à–µ–µ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ?

In [72]:
bookings[['adults','children','babies']].mean()
bookings[['adults','children','babies']].describe()

              adults       children         babies
count  119390.000000  119386.000000  119390.000000
mean        1.856403       0.103890       0.007949
std         0.579261       0.398561       0.097436
min         0.000000       0.000000       0.000000
25%         2.000000       0.000000       0.000000
50%         2.000000       0.000000       0.000000
75%         2.000000       0.000000       0.000000
max        55.000000      10.000000      10.000000

–°–æ–∑–¥–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫—É total_kids, –æ–±—ä–µ–¥–∏–Ω–∏–≤ —Å—Ç–æ–ª–±—Ü—ã children –∏ babies. –û—Ç–µ–ª–∏ –∫–∞–∫–æ–≥–æ —Ç–∏–ø–∞ –≤ —Å—Ä–µ–¥–Ω–µ–º –ø–æ–ª—å–∑—É—é—Ç—Å—è –±–æ–ª—å—à–µ–π –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å—é —É –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –¥–µ—Ç—å–º–∏?

City hotel ‚Äì –æ—Ç–µ–ª—å –Ω–∞—Ö–æ–¥–∏—Ç—Å—è –≤ –≥–æ—Ä–æ–¥–µ
Resort hotel ‚Äì –æ—Ç–µ–ª—å –∫—É—Ä–æ—Ä—Ç–Ω—ã–π
–í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —Å—Ä–µ–¥–Ω–µ–µ total_kids, –æ–∫—Ä—É–≥–ª–∏–≤ –¥–æ 2 –∑–Ω–∞–∫–æ–≤ –ø–æ—Å–ª–µ —Ç–æ—á–∫–∏.

Note: –í –¥–∞–Ω–Ω–æ–π –∑–∞–¥–∞—á–µ –ø–æ–¥ –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å—é –ø–æ–¥—Ä–∞–∑—É–º–µ–≤–∞–µ—Ç—Å—è –Ω–∞–º–µ—Ä–µ–Ω–∏–µ –æ—Ñ–æ—Ä–º–∏—Ç—å –±—Ä–æ–Ω—å, —Ç. –µ. –Ω–∞—Å –∏–Ω—Ç–µ—Ä–µ—Å—É–µ—Ç —Å–∫–æ—Ä–µ–µ —Å–∞–º —Ñ–∞–∫—Ç –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏—è, –∞ –Ω–µ –¥–∞–ª—å–Ω–µ–π—à–µ–µ –ø–æ–≤–µ–¥–µ–Ω–∏–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è (–±—Ä–æ–Ω—å –æ—Ç–º–µ–Ω–µ–Ω–∞/–Ω–µ—Ç).

In [73]:
bookings['total_kids'] = bookings.children + bookings.babies

In [77]:
bookings.groupby('hotel').agg({'total_kids':'mean'}).round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

üíÄ –°–ª–æ–∂–Ω–æ–µ –∑–∞–¥–∞–Ω–∏–µ! üíÄ

–ù–µ –≤—Å–µ –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏—è –∑–∞–≤–µ—Ä—à–∏–ª–∏—Å—å —É—Å–ø–µ—à–Ω–æ (is_canceled), –ø–æ—ç—Ç–æ–º—É –º–æ–∂–Ω–æ –ø–æ—Å—á–∏—Ç–∞—Ç—å, —Å–∫–æ–ª—å–∫–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –±—ã–ª–æ –ø–æ—Ç–µ—Ä—è–Ω–æ –≤ –ø—Ä–æ—Ü–µ—Å—Å–µ. Churn rate (–æ—Ç—Ç–æ–∫, –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç –æ—Ç—Ç–æ–∫–∞) ‚Äì —ç—Ç–æ –ø—Ä–æ—Ü–µ–Ω—Ç –ø–æ–¥–ø–∏—Å—á–∏–∫–æ–≤ (–Ω–∞–ø—Ä–∏–º–µ—Ä, –Ω–∞ push-—É–≤–µ–¥–æ–º–ª–µ–Ω–∏—è –æ—Ç —Å–∞–π—Ç–∞), –∫–æ—Ç–æ—Ä—ã–µ –æ—Ç–ø–∏—Å–∞–ª–∏—Å—å –æ—Ç –∫–∞–Ω–∞–ª–∞ –∫–æ–º–º—É–Ω–∏–∫–∞—Ü–∏–∏, –æ—Ç–∫–∞–∑–∞–ª–∏—Å—å –æ—Ç —É—Å–ª—É–≥ —Å–µ—Ä–≤–∏—Å–∞ –≤ —Ç–µ—á–µ–Ω–∏–µ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω–æ–≥–æ –ø–µ—Ä–∏–æ–¥–∞ –≤—Ä–µ–º–µ–Ω–∏. –ò–Ω—ã–º–∏ —Å–ª–æ–≤–∞–º–∏, –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è–µ—Ç —Å–æ–±–æ–π –æ—Ç–Ω–æ—à–µ–Ω–∏–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —É—à–µ–¥—à–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∫ –æ–±—â–µ–º—É –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –≤—ã—Ä–∞–∂–µ–Ω–Ω–æ–µ –≤ –ø—Ä–æ—Ü–µ–Ω—Ç–∞—Ö.

–°–æ–∑–¥–∞–π—Ç–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é has_kids, –∫–æ—Ç–æ—Ä–∞—è –ø—Ä–∏–Ω–∏–º–∞–µ—Ç –∑–Ω–∞—á–µ–Ω–∏–µ True, –µ—Å–ª–∏ –∫–ª–∏–µ–Ω—Ç –ø—Ä–∏ –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–∏ —É–∫–∞–∑–∞–ª —Ö–æ—Ç—è –±—ã –æ–¥–Ω–æ–≥–æ —Ä–µ–±–µ–Ω–∫–∞ (total_kids), –≤ –ø—Ä–æ—Ç–∏–≤–Ω–æ–º —Å–ª—É—á–∞–µ ‚Äì False. –î–∞–ª–µ–µ –ø—Ä–æ–≤–µ—Ä—å—Ç–µ, —Å—Ä–µ–¥–∏ –∫–∞–∫–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å –æ—Ç—Ç–æ–∫–∞ –≤—ã—à–µ. 

–í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ –Ω–∞–∏–±–æ–ª—å—à–∏–π %, –æ–∫—Ä—É–≥–ª–µ–Ω–Ω—ã–π –¥–æ 2 –∑–Ω–∞–∫–æ–≤ –ø–æ—Å–ª–µ —Ç–æ—á–∫–∏ (—Ç–æ –µ—Å—Ç—å –¥–æ–ª—è 0.24563 –±—É–¥–µ—Ç 24.56% –∏ –≤ –æ—Ç–≤–µ—Ç –ø–æ–π–¥—ë—Ç 24.56)

In [78]:
bookings['has_kids'] = bookings.total_kids > 0

In [91]:
no_kids_churn = bookings.query('is_canceled == 1 and has_kids == False').shape[0] / bookings.query('has_kids == False').shape[0]
no_kids_churn = round(no_kids_churn*100,2)
no_kids_churn

37.22

In [92]:
yes_kids_churn = bookings.query('is_canceled == 1 and has_kids == True').shape[0] / bookings.query('has_kids == True').shape[0]
yes_kids_churn = round(yes_kids_churn*100,2)
yes_kids_churn

34.92