In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data_for_tableau.csv')

In [6]:
df.head()

,date,event,purchase_sum,os_name,device_id,gender,city,utm_source
0,2020-01-01,app_start,NaN,android,669460,female,Moscow,-
1,2020-01-01,app_start,NaN,ios,833621,male,Moscow,vk_ads
2,2020-01-01,app_start,NaN,android,1579237,male,Saint-Petersburg,referal
3,2020-01-01,app_start,NaN,android,1737182,female,Moscow,facebook_ads
4,2020-01-01,app_start,NaN,ios,4029024,female,Moscow,facebook_ads

In [8]:
mindate = df.sort_values('date').drop_duplicates('device_id') # по умолчанию берется первое вхождение (то бишь Min)

In [9]:
mindate = mindate[['device_id','date']]

In [10]:
mindate = mindate.rename(columns = {'date': 'Когорта по первой сессии'})

In [11]:
df = df.merge(mindate, how = 'left', on = 'device_id')

In [12]:
df.head()

,date,event,purchase_sum,os_name,device_id,gender,city,utm_source,Когорта по первой сессии
0,2020-01-01,app_start,NaN,android,669460,female,Moscow,-,2020-01-01
1,2020-01-01,app_start,NaN,ios,833621,male,Moscow,vk_ads,2020-01-01
2,2020-01-01,app_start,NaN,android,1579237,male,Saint-Petersburg,referal,2020-01-01
3,2020-01-01,app_start,NaN,android,1737182,female,Moscow,facebook_ads,2020-01-01
4,2020-01-01,app_start,NaN,ios,4029024,female,Moscow,facebook_ads,2020-01-01

In [13]:
df.to_csv('data_for_analysis.csv', index = False)