In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/423116/august_data.csv')
df.head()

,ga:date,ga:clientid,userID,ga:transaction_id,ga:revenue,Unnamed: 5,ga:user
0,28-08-2019 12:29:24,2.802509e+08,"7,186,054",383919,28103,NaN,141000.0
1,28-08-2019 12:27:12,8.196637e+08,"7,186,010",97225,177697,NaN,NaN
2,28-08-2019 11:43:24,1.751156e+09,"7,184,859",385087,64892,NaN,NaN
3,28-08-2019 11:40:50,5.515333e+08,"7,186,029",385392,38816,NaN,NaN
4,28-08-2019 11:25:31,4.527935e+08,"7,183,548",385871,3112,NaN,NaN

In [3]:
df['ga:date'] = pd.to_datetime(df['ga:date'])

In [4]:
df.drop(columns = ['Unnamed: 5'], inplace = True)

Сколько всего имеется уникальных пользователей?

In [5]:
df #ga:user

,ga:date,ga:clientid,userID,ga:transaction_id,ga:revenue,ga:user
0,2019-08-28 12:29:24,2.802509e+08,"7,186,054",383919,28103,141000.0
1,2019-08-28 12:27:12,8.196637e+08,"7,186,010",97225,177697,NaN
2,2019-08-28 11:43:24,1.751156e+09,"7,184,859",385087,64892,NaN
3,2019-08-28 11:40:50,5.515333e+08,"7,186,029",385392,38816,NaN
4,2019-08-28 11:25:31,4.527935e+08,"7,183,548",385871,3112,NaN
...,...,...,...,...,...,...
1006,2019-01-08 01:33:53,5.085028e+08,7186781,358692,9280,NaN
1007,2019-01-08 01:27:45,4.152444e+08,7186780,359792,2899,NaN
1008,2019-01-08 01:23:40,6.964930e+08,7186782,377751,8900,NaN
1009,2019-01-08 01:18:14,4.152444e+08,7186780,377721,8204,NaN
1010,2019-01-08 01:06:38,5.352736e+08,7014062,377748,3032,NaN

Сколько всего имеется клиентов?

Note: вспомните, чем клиент отличается от простого пользователя, и какая колонка отвечает за прибыль.

In [6]:
df.rename(columns={'ga:revenue':'revenue', 
           'ga:date':'date', 
           'ga:clientid':'clientid', 
           'ga:transaction_id':'transaction_id', 
           'ga:user':'nunique_users'}, inplace = True)

In [7]:
df.query('revenue != 0').clientid.nunique()

685

In [8]:
df

,date,clientid,userID,transaction_id,revenue,ga:user
0,2019-08-28 12:29:24,2.802509e+08,"7,186,054",383919,28103,141000.0
1,2019-08-28 12:27:12,8.196637e+08,"7,186,010",97225,177697,NaN
2,2019-08-28 11:43:24,1.751156e+09,"7,184,859",385087,64892,NaN
3,2019-08-28 11:40:50,5.515333e+08,"7,186,029",385392,38816,NaN
4,2019-08-28 11:25:31,4.527935e+08,"7,183,548",385871,3112,NaN
...,...,...,...,...,...,...
1006,2019-01-08 01:33:53,5.085028e+08,7186781,358692,9280,NaN
1007,2019-01-08 01:27:45,4.152444e+08,7186780,359792,2899,NaN
1008,2019-01-08 01:23:40,6.964930e+08,7186782,377751,8900,NaN
1009,2019-01-08 01:18:14,4.152444e+08,7186780,377721,8204,NaN
1010,2019-01-08 01:06:38,5.352736e+08,7014062,377748,3032,NaN

Далее посчитайте конверсию. В качестве ответа укажите значение в процентах, округленное до сотых.

In [17]:
nunique_users = 141000
pay_clients = df.query('revenue != 0').clientid.nunique()
conversion_rate = (pay_clients / nunique_users)*100
round(conversion_rate,2)

0.49

Сколько рублей составляет средний чек? Ответ округлите до целого.

In [24]:
total_revenue = df.revenue.sum()

In [25]:
clients = df.query('revenue != 0')

In [27]:
total_payments = clients.transaction_id.nunique()

In [29]:
mean_payment = np.mean(total_revenue / total_payments)
mean_payment

34458.12660944206

Теперь посчитайте повторные покупки (среднее количество покупок на пользователя). Результат округлите до двух знаков после точки.

In [40]:
mean_buy = clients.groupby(['clientid']) \
        .agg({'transaction_id':'count'})['transaction_id'].mean()
mean_buy.round(2)

1.36

Чему равен средний доход на платящего пользователя (ARPPU)? Ответ округлите до целого.

In [47]:
arppu = mean_buy * mean_payment
arppu.round()

46883.0

Посчитайте средний доход с пользователя (ARPU). Ответ округлите до целого.

In [49]:
arpu = (conversion_rate/100) * arppu
arpu.round()

228.0