–ò–º–ø–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ data.csv.zip (—Å—Å—ã–ª–∫–∞) —Å –∫–æ–¥–∏—Ä–æ–≤–∫–æ–π ISO-8859-1. –ó–∞–ø–∏—à–∏—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –≤ retail, –∞ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ —Å–æ—Ö—Ä–∞–Ω–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é retail_columns.

In [2]:
import pandas as pd

In [3]:
retail = pd.read_csv('https://stepik.org/media/attachments/lesson/361623/data.csv.zip', 
                     compression = 'zip', encoding = 'ISO-8859-1')
retail_columns = retail.columns

In [6]:
nrows_originals = retail.shape[0]
retail.drop_duplicates(inplace = True)
nrows_without_duplicates = retail.shape[0]
nrows_originals - nrows_without_duplicates

5268

‚≠êÔ∏è–ó–∞–¥–∞–Ω–∏–µ —Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π!‚≠êÔ∏è

–î–∞–Ω–Ω—ã–µ —Å–æ–¥–µ—Ä–∂–∞—Ç –≤ —Å–µ–±–µ –∑–∞–ø–∏—Å–∏ –∫–∞–∫ –∏ –æ–± —É—Å–ø–µ—à–Ω—ã—Ö —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏—è—Ö, —Ç–∞–∫ –∏ –æ–± –æ—Ç–º–µ–Ω–µ–Ω–Ω—ã—Ö. –ï—Å–ª–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å –æ—Ç–º–µ–Ω–∏–ª –∑–∞–∫–∞–∑, –≤ –Ω–∞—á–∞–ª–µ –Ω–æ–º–µ—Ä–∞ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏ (InvoiceNo) —Å—Ç–∞–≤–∏—Ç—Å—è C (canceled). 

–°–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ –∑–∞–∫–∞–∑–æ–≤ –æ—Ç–º–µ–Ω–∏–ª–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏?

In [16]:
retail.InvoiceNo.str.startswith('C').sum()

9251

–¢–µ–ø–µ—Ä—å –æ—Ç—Ñ–∏–ª—å—Ç—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –∏ –æ—Å—Ç–∞–≤—å—Ç–µ –≤ retail —Ç–æ–ª—å–∫–æ —Ç–µ –∑–∞–∫–∞–∑—ã, –≥–¥–µ Quantity > 0. –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ —á–∏—Å–ª–æ –æ—Å—Ç–∞–≤—à–∏—Ö—Å—è —Å—Ç—Ä–æ–∫.

In [19]:
retail.query('Quantity > 0').shape

(526054, 8)

üíÄ –°–ª–æ–∂–Ω–æ–µ –∑–∞–¥–∞–Ω–∏–µ! üíÄ

–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —á–∏—Å–ª–æ –∑–∞–∫–∞–∑–æ–≤ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è (CustomerID) –∏–∑ –ì–µ—Ä–º–∞–Ω–∏–∏ (Germany). –û—Å—Ç–∞–≤—å—Ç–µ —Ç–æ–ª—å–∫–æ —Ç–µ—Ö, –∫—Ç–æ —Å–æ–≤–µ—Ä—à–∏–ª –±–æ–ª–µ–µ N —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–π (InvoiceNo), –≥–¥–µ N ‚Äì 80% –ø—Ä–æ—Ü–µ–Ω—Ç–∏–ª—å. –ó–∞–ø–∏—à–∏—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ id –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ germany_top (–Ω–µ –≤–µ—Å—å –¥–∞—Ç–∞—Ñ—Ä–µ–π–º, —Ç–æ–ª—å–∫–æ id).

quantile
query

–û—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –∑–∞–ø–∏—Å–∞–Ω—ã –≤ retail. –ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∑–∞–∫–∞–∑–∞ ‚Äì InvoiceNo. –î–ª—è –∫–∞–∂–¥–æ–≥–æ –∑–∞–∫–∞–∑–∞ –≤ –¥–∞–Ω–Ω—ã—Ö –º–æ–∂–µ—Ç –≤—Å—Ç—Ä–µ—á–∞—Ç—å—Å—è –±–æ–ª–µ–µ 1 —Å—Ç—Ä–æ–∫–∏.

In [21]:
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [37]:
german_buyers = retail.query('Country == "Germany"').groupby('CustomerID', as_index = False) \
                                    .agg({'InvoiceNo': pd.Series.nunique})

quantile_80 = german_buyers.InvoiceNo.quantile(q = 0.8)

In [38]:
germany_top = german_buyers.query('InvoiceNo > @quantile_80').CustomerID
germany_top

3     12471.0
4     12472.0
6     12474.0
8     12476.0
12    12481.0
16    12500.0
37    12569.0
44    12600.0
52    12619.0
53    12621.0
57    12626.0
65    12647.0
70    12662.0
78    12705.0
79    12708.0
80    12709.0
82    12712.0
84    12720.0
Name: CustomerID, dtype: float64

‚≠êÔ∏è–ó–∞–¥–∞–Ω–∏–µ —Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π!‚≠êÔ∏è

–ò—Å–ø–æ–ª—å–∑—É—è –æ–±—ä–µ–∫—Ç —Å id –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π (germany_top), –ø–æ–ª—É—á–µ–Ω–Ω—ã–π –Ω–∞ –ø—Ä–µ–¥—ã–¥—É—â–µ–º —à–∞–≥–µ, –æ—Ç—Ñ–∏–ª—å—Ç—Ä—É–π—Ç–µ –Ω–∞–±–ª—é–¥–µ–Ω–∏—è –∏ –æ—Å—Ç–∞–≤—å—Ç–µ –≤ –¥–∞–Ω–Ω—ã—Ö –∑–∞–ø–∏—Å–∏ —Ç–æ–ª—å–∫–æ –ø–æ –∏–Ω—Ç–µ—Ä–µ—Å—É—é—â–∏–º –Ω–∞—Å —é–∑–µ—Ä–∞–º. –†–µ–∑—É–ª—å—Ç–∏—Ä—É—é—â–∏–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –∑–∞–ø–∏—à–∏—Ç–µ –≤ top_retail_germany.

In [42]:
top_retail_germany = retail.query('CustomerID in @germany_top')
top_retail_germany

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,12/1/2010 13:04,2.95,12662.0,Germany
1110,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,12/1/2010 13:04,2.55,12662.0,Germany
1111,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,12/1/2010 13:04,0.85,12662.0,Germany
1112,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,12/1/2010 13:04,1.65,12662.0,Germany
1113,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,12/1/2010 13:04,1.95,12662.0,Germany
...,...,...,...,...,...,...,...,...
541726,581570,22139,RETROSPOT TEA SET CERAMIC 11 PC,3,12/9/2011 11:59,4.95,12662.0,Germany
541727,581570,23077,DOUGHNUT LIP GLOSS,20,12/9/2011 11:59,1.25,12662.0,Germany
541728,581570,20750,RED RETROSPOT MINI CASES,2,12/9/2011 11:59,7.95,12662.0,Germany
541729,581570,22505,MEMO BOARD COTTAGE DESIGN,4,12/9/2011 11:59,4.95,12662.0,Germany
541730,581570,POST,POSTAGE,1,12/9/2011 11:59,18.00,12662.0,Germany

–°–≥—Ä—É–ø–ø–∏—Ä—É–π—Ç–µ top_retail_germany –ø–æ –∫–æ–¥—É —Ç–æ–≤–∞—Ä–∞ (StockCode). –ö–∞–∫–æ–π –∏–∑ –ø—Ä–æ–¥—É–∫—Ç–æ–≤ –¥–æ–±–∞–≤–ª—è–ª–∏ –≤ –∫–æ—Ä–∑–∏–Ω—É —á–∞—â–µ –≤—Å–µ–≥–æ, –∫—Ä–æ–º–µ POST? 

Note: –æ–¥–Ω–∏–º –∑–∞–∫–∞–∑–æ–º —Å—á–∏—Ç–∞–µ—Ç—Å—è –µ–¥–∏–Ω–æ–≤—Ä–µ–º–µ–Ω–Ω–∞—è –ø–æ–∫—É–ø–∫–∞ –ª—é–±–æ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Ç–æ–≤–∞—Ä–∞, —Ç.–µ. –±–µ–∑ —É—á–µ—Ç–∞ Quantity.

In [44]:
top_retail_germany.StockCode.value_counts()

POST     219
22326     62
22423     55
22328     45
22467     37
        ...
71279      1
22702      1
22635      1
22273      1
20963      1
Name: StockCode, Length: 1168, dtype: int64

In [45]:
top_retail_germany.groupby('StockCode').agg({'Description':'count'}).sort_values('Description')

           Description
StockCode
22548                1
22948                1
84800L               1
22956                1
22174                1
...                ...
22467               37
22328               45
22423               55
22326               62
POST               219

[1168 rows x 1 columns]

–í–µ—Ä–Ω–µ–º—Å—è –∫ –∞–Ω–∞–ª–∏–∑—É –ø–æ–ª–Ω–æ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç–∞ retail. –°–æ–∑–¥–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫—É Revenue —Å —Å—É–º–º–æ–π –ø–æ–∫—É–ø–∫–∏, –∏—Å–ø–æ–ª—å–∑—É—è –∫–æ–ª–æ–Ω–∫–∏ Quantity –∏ UnitPrice.

In [47]:
retail['Revenue'] = retail.Quantity * retail.UnitPrice

–î–ª—è –∫–∞–∂–¥–æ–π —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏ (InvoiceNo), –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ —Ñ–∏–Ω–∞–ª—å–Ω—É—é —Å—É–º–º—É –∑–∞–∫–∞–∑–∞. –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ —Ç–æ–ø-5 (InvoiceNo) –ø–æ —Å—É–º–º–µ –∑–∞–∫–∞–∑–∞ (—á–µ—Ä–µ–∑ –∑–∞–ø—è—Ç—É—é —Å –ø—Ä–æ–±–µ–ª–æ–º –∏ –≤ –ø–æ—Ä—è–¥–∫–µ —É–±—ã–≤–∞–Ω–∏—è TotalRevenue)

In [50]:
revenues_invoices = retail.groupby('InvoiceNo', as_index = False) \
    .agg({'Revenue':'sum'}) \
    .sort_values('Revenue', ascending = False)

In [53]:
print(revenues_invoices.InvoiceNo[:5].str.cat(sep = ', '))

581483, 541431, 574941, 576365, 556444